# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables
.env

# IDE specific files
.idea/
*.swp
*.swo

# Dependencies
/vendor/

# Build output
/bin/
/dist/

# Logs
*.log

# OS specific
.DS_Store

/tmp/
